header {
    border: solid #ca0b0b;
    background-color: #ffffff;
}

#pic {
    height: 200px;
    width: 250px;
}

.nav-bar {
    float: absolute;
    text-align: right;
}

#name {
    font-family: 'Times New Roman', Times, serif;
    width: 20%;
    background-color: teal;
}

#about-me {
    font-family: 'Times New Roman', Times, serif;
    width: 10%;
    background-color: teal;
}

p {
    text-align: ;
}

body {
    border: solid #dddddd;
}

footer {
    border: solid;
    margin: 10px;
}